* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Verdana", "Arial", sans-serif;
  line-height: 1.3;
  color: #373737;
  height: 100vh;
  width: 100%;
}
#container {
  height: 100vh;
}

#header {
  background-color: white;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

#search-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0rem auto;
  width: 20%;
  min-width: 400px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#search-input {
  order: 2;
  padding: 0.5rem;
  background: transparent;
  width: 100%;
  border: none;
}

#search-filter:focus-within {
  background: white;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

#search-input:focus {
  outline: none;
}

#search-filter i {
  order: 1;
  padding: 0.5rem;
}

#content {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 4rem);
  display: flex;
}

.to-do-container {
  background: white;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  width: 350px;
  padding: 1rem;
}

.to-do-container .task-list {
  display: flex;
  flex-direction: column;
}

.to-do-container > p {
  margin-bottom: 2rem;
  color: grey;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.to-do-container > p > span {
  color: black;
  cursor: pointer;
}

.to-do-container .add-task {
  display: flex;
  color: black;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.to-do-container .add-task span {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: dodgerblue;
}

.to-do-container .add-task p {
  font-size: 1rem;
}

.to-do-container .completed-task,
.to-do-container .task {
  position: relative;
  list-style-type: none;
}

.to-do-container .task i {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.to-do-container .tasks .task {
  font-size: 1rem;
  margin: 1rem 0;
}

.to-do-container .tasks .task .bx-check {
  color: dodgerblue;
}

.to-do-container .completed-tasks {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.to-do-container .completed p {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.to-do-container .completed p i {
  font-size: 1.5rem;
}

.to-do-container .completed-task {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.to-do-container .completed-task span {
  text-decoration: line-through;
}

.to-do-container .completed-task i {
  color: dodgerblue;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

#add-container {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  margin: 2rem;
  height: 2rem;
  padding-left: 1rem;
  width: 350px;
  background-color: white;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

#add-container #add-button span {
  font-size: 1rem;
  margin-right: 1rem;
  color: dodgerblue;
}

#add-button {
  font-size: 1rem;
}

.input-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 2rem;
  height: 2rem;
  width: 350px;
  background-color: white;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.input-title.hidden {
  display: none;
}

.input-title-text {
  width: 100%;
  margin-left: 1rem;
  border: none;
}

.input-title-text::placeholder {
  font-size: 1rem;
}

.input-title-text:focus {
  outline: none;
}

.input-title-text + span {
  color: dodgerblue;
  margin: 0 0.5rem;
}

#empty-to-do {
  display: none;
}
